<div style="margin-top: 10px;">
    <div style="margin-left: 10px;  margin-right: 10px; border: 2px solid; padding: 10px; box-shadow: 0 0 20px 10px rgba(0, 0, 0, .2);">
        <div style="font-size: 35px; font-weight: bold; margin-bottom: 4px; display: flex; justify-content: center;">Work-Experience</div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Job title</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="job">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Company Name</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Company">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Start Date</label>
                <input type="date" class="form-control" id="inputEmail4" placeholder="date">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">End Date</label>
                <input type="date" class="form-control" id="inputPassword4" placeholder="date">
            </div>
        </div>
        <div style="font-weight: bold; font-size: 20px; margin-bottom: 8px;">job 2: </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Job title</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="job">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Company Name</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Company">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Start Date</label>
                <input type="date" class="form-control" id="inputEmail4" placeholder="date">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">End Date</label>
                <input type="date" class="form-control" id="inputPassword4" placeholder="date">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Specialization</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Specialization">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Handled Technologies</label>
                <textarea name="" id="inputtech" class="form-control" cols="30" rows="8"></textarea>
            </div>
        </div>


        <button type="submit" class="btn btn-primary bg-primary">Next page</button>

    </div>
</div>
